/* Defina a imagem de fundo. */
.image-size-backgroud-6046511 {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.background-image-6046510 {
    background-image: url('');
    background-size: none;
}

#common-space-6046508 {
    height: 32px;
}

@media only screen and (max-width: 600px) {
    #common-space-6046508 {
        height: 32px;
    }
}

