.tabs-container {
    border-top: none;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.tabs {
    border-top: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    transition: border-color 1s ease;
    height: 62px;
}
.tab-custom {
    border-top: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 40rem;
    text-align: center;
    border-bottom: 5px solid transparent;
    word-wrap: break-word;
}
.tab-active {
    border-top: none;
    font-weight: normal;
    border-bottom-color: #0b64bf;
}
.tab-content {
    border-top: none;
    padding: 15px;
    display: none;
}
@media screen and (max-width: 700px) {
    .tab-content {
        padding: 0px;
    }
}
@media screen and (max-width: 700px) {
    .div_anexos_doc_mini {
        justify-content: center;
        margin-right: 0px;
        width: 40%;
    }
}
@media screen and (max-width: 700px) {
    .flex-content-download-none {
        display: flex;
        flex-direction: column;
    }
}
tr {
    height: 60px;
    border: 1px solid #ddd;
}
td {
    font-size: 13px;
}
@media screen and (max-width: 700px) {
    .content-download {
        flex-direction: column;
    }
}
buttons-download-TCU:hover {
    background-color: #0b64bf;
    color: black !important;
    transition: all ease 0.5s;
}
td, th {
    border-radius: 0px !important;
}
@media screen and (max-width: 700px) {
    .th-intre-TCU, .td-intre-TCU {
        min-width: 0px !important;
        margin-right: 10px !important;
    }
}
@media screen and (max-width: 414px) {
    .th-intre-TCU, .tbody-intre-TCU {
        display: block;
    }
}
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}