.tabs-container {
    border-top: none;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.tabs {
    border-top: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
    transition: border-color 1s ease;
    height: 62px;
}

.text-fonte {
    font-weight: bold;
    font-size: 13px;
}


.tab-custom {
    border-top: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 40rem;
    text-align: center;
    border-bottom: 5px solid transparent;
    word-wrap: break-word;
}

/*** barra azul inferior da TAB ***/
.tab-active {
    border-top: none;
    font-weight: normal;
    border-bottom-color: #0b64bf;
}

.tab-content {
    border-top: none;
    padding: 15px;
    display: none;
}

@media screen and (max-width: 700px) {
    .tab-content {
        padding: 0px;
    }
}

.tab-content.active {
    border-top: none;
    display: block;
    opacity: 1;
}

.class_etica {
    margin-top: 37px;
    font-weight: bold;
    font-size: 14px;
}

.class_document_text {
    font-weight: bold;
    color: #0b64bf;
    margin-top: 35px;
}

.div_anexos_doc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    padding: 0 24px;
    background: #FFF;
    border: 1px solid #F7F7F7;
    border-radius: 4px;
    height: 60px;
    width: 100%;
    color: #fa911a;
    font-size: 14px;
    line-height: 21px;
    border-left: 4px solid #000000;
    justify-content: space-between;
    cursor: pointer;
}

.div_anexos_doc_mini {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
    padding: 0 0px;
    background: #FFF;
    border: 1px solid #F7F7F7;
    border-radius: 4px;
    margin-right: 12px;
    margin-top: 10px;
    height: 60px;
    width: 17%;
    color: #fa911a;
    font-size: 14px;
    line-height: 21px;
    border-left: 4px solid #000000;
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.08);
}

@media screen and (max-width: 700px) {
    .div_anexos_doc_mini {
        justify-content: center;
        margin-right: 0px;
        width: 40%;
    }
}

.flex-content-download-none {
    display: flex;
}

@media screen and (max-width: 700px) {
    .flex-content-download-none {
        display: flex;
        flex-direction: column;
    }
}

.receita_text-mini {
    color: black;
    font-size: 12px;
}

.flex_img_section_mini {
    display: flex;
    margin-left: 10px;
}

.section_text-mini {
    margin-left: 15px;
}

.text_kb-mini {
    color: silver;
    margin-top: -13px;
}

.div_anexos_doc:hover {
    box-shadow: 0px 4px 16px rgba(0,0,0,0.08);
}

.receita_text {
    color: black
}

.flex_img_section {
    display: flex;
}

.section_text {
    margin-left: 50px;
}

.text_kb {
    color: silver;
    margin-top: -13px;
}



.table-resultado-gratuidade {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thead-resultado-gratuidade {
    background-color: #0b64bf;
}

.text-resultado-gratuidade-th {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
}



.table-despesas-aplicadas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thead-despesas-aplicadas {
    background-color: #0b64bf;
}

.text-despesas-aplicadas-th {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
}



.table-hora-aluno-gratuidade {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thead-hora-aluno-gratuidade {
    background-color: #0b64bf;
}

.text-hora-aluno-gratuidade-th {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
}



.table-hora-aluno-medio {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thead-hora-aluno-medio {
    background-color: #0b64bf;
}

.text-hora-aluno-medio-th {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
}



.table-hora-aluno {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thead-hora-aluno {
    background-color: #0b64bf;
}

.text-hora-aluno-th {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
}



.table-despesa-modalidade {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thead-despesa-modalidade {
    background-color: #0b64bf;
}

.text-despesa-modalidade-th {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
}

.table-receita {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.thead-receita {
    background-color: #0b64bf;
}

.text-receita-th {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
}

.text-intre-th {
    border-top-left-radius: 8px !important;
}

.text-intre-th-2 {
    border-top-right-radius: 8px !important;
}

.text-receita-th-footer {
    height: 60px;
    background-color: #0b64bf;
    color: white;
    border: 1px solid #ddd;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}



.td-results-despesas-aplicadas {
    padding: 20px;
    border: 1px solid #ddd;
}

.td-results-despesas-aplicadas-border-right {
    border-right: 1px solid #ddd;
}



.td-results-hora-aluno-medio {
    padding: 20px;
    border: 1px solid #ddd;
}

.td-results-hora-aluno-medio-border-right {
    border-right: 1px solid #ddd;
}



.td-results-hora-aluno-gratuidade {
    padding: 20px;
    border: 1px solid #ddd;
}

.td-results-hora-aluno-gratuidade-border-right {
    border-right: 1px solid #ddd;
}



.td-results-hora-aluno {
    padding: 20px;
    border: 1px solid #ddd;
}

.td-results-hora-aluno-border-right {
    border-right: 1px solid #ddd;
}


.td-results-modalidade {
    padding: 20px;
    border: 1px solid #ddd;
}

.td-results-modalidade-border-right {
    border-right: 1px solid #ddd;
}



.td-programa {
    background-color: #f0f0f0;
    font-weight: bold;
}

.td-results {
    padding: 20px;
    border: 1px solid #ddd;
}

.td-results-resultado-gratuidade {
    padding: 20px;
}

.td-results-border-right {
    border-right: 1px solid #ddd;
}

.td-receita-edit {
    border: 1px solid #ddd !important;
    padding: 20px;
}

.td-receita-edit-nome {
    padding: 10px;
}

.td-receita-edit-icon {
    border: 1px solid #ddd !important;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

tr {
    height: 60px;
    border: 1px solid #ddd;
}

td {
    font-size: 13px;
}


.td-indicador-educacao {
    width: 40%;
    text-align: center;
    padding-left: 10px;
}

.td-indicador {
    width: 40%;
    text-align: left;
    padding-left: 10px;
}

.td-right {
    width: 10%;
    text-align: center;
    padding-right: 10px;
}

.td-right-content-2 {
    width: 1%;
    text-align: center;
    padding-right: 10px;
}

.td-results-border-right {
    border-right: 1px solid #ccc;
}




.accordion-header {
    padding: 10px;
    margin-top: 15px;
    border-bottom: 0.1px solid #add8e6;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    display: none;
    padding: 4px
}

.accordion-image {
    text-align: right;
    cursor: pointer;
    margin-bottom: -20px;
}

#rotate-image {
    width: 23px;
    height: 16px;
    transition: transform 0.5s ease;
}

#rotate-image.rotated {
    transform: rotate(180deg);
}

.name-acoordion {
    font-weight: bold;
    margin-bottom: -0px;
    font-size: 16px;
    color: #0b64bf;
}

.accordion-item.active .accordion-header {
    border-bottom: 2px solid #0b64bf;
}

.content-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .content-download {
        flex-direction: column;
    }
}

.select-download {
    width: 90px;
    height: 39px;
    border: 1px solid blue;
    margin-top: -30px;
}

.buttons-download-TCU {
    border: 2px solid #0b64bf;
    color: #0b64bf !important;
    height: 40px;
    padding: 10px 16px;
    border-radius: 8px;
    margin-left: 10px;
    background-color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

buttons-download-TCU:hover {
    background-color: #0b64bf;
    color: black !important;
    transition: all ease 0.5s;
}

.buttons-div-download {
    margin-top: 40px;
}

.text-year-TCU {
    /***color: #0b64bf;***/
    font-weight: bold;
}

.table-intre-TCU {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 12px;
}

.thead-intre-TCU {
    background-color: #0b64bf;
    color: white;
}

td, th {
    border-radius: 0px !important;
}

.th-intre-TCU,
.td-intre-TCU {
    padding: 10px;
    text-align: left !important;
    min-width: 150px !important;
}

.th-intre-TCU-edit {
    text-align: center;
}

@media screen and (max-width: 700px) {
    .th-intre-TCU, .td-intre-TCU {
        min-width: 0px !important;
        margin-right: 10px !important;
    }
}

.td-intre-TCU.long-text {
    white-space: pre-wrap !important;
}

.tbody-intre-TCU {
    border-top: 1px solid silver !important;
    border-bottom: 1px solid #0b64bf !important;
    border-left: 1px solid #0b64bf !important;
    border-right: 1px solid #0b64bf !important;
}

.tbody-intre-TCU tr + tr {
    border-top: 1px solid silver;
    font-size: 13px;
}

.div-table-responsive {
    width: 100% !important;
    overflow-x: auto;
}

@media screen and (max-width: 414px) {
    .th-intre-TCU, .tbody-intre-TCU {
        display: block;
    }

    .th-intre-TCU {
        text-align: left;
    }

    .th-intre-TCU::after {
        content: '';
        display: block;
        border-bottom: 2px solid #ddd;
        margin-top: 5px;
    }

    .th-intre-TCU, .td-intre-TCU {
        padding: 8px;
    }

    .td-intre-TCU {
        text-align: left;
    }
}





.modal-edit {
    display: none;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content-edit {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.close-edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-edit:hover,
.close-edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#genModal-edit h5 {
    margin-top: 0;
    font-size: 24px;
}

#genModal-edit p {
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.6;
}

#genModal-edit strong {
    font-weight: bold;
}


.modal-edit-gerenciador {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content-edit-gerenciador {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.close-edit-gerenciador {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-edit-gerenciador:hover,
.close-edit-gerenciador:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#genModal-edit-gerenciador h5 {
    margin-top: 0;
    font-size: 24px;
}

#genModal-edit-gerenciador p {
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.6;
}

#genModal-edit-gerenciador strong {
    font-weight: bold;
}

.input-field-edit-gerenciador {
    font-size: 15px;
}


.modal-insercao-gerenciador {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content-insercao-gerenciador {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.close-insercao-gerenciador {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-insercaot-gerenciador:hover,
.close-insercao-gerenciador:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#genModal-insercao-gerenciador h5 {
    margin-top: 0;
    font-size: 24px;
}

#genModal-insercao-gerenciador p {
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.6;
}

#genModal-insercao-gerenciador strong {
    font-weight: bold;
}

.input-field-insercao-gerenciador {
    font-size: 15px;
}



.custom-select {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 1rem;
    cursor: pointer;
}

.custom-select select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.custom-select:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}


#modal-edit .modal-content {
    padding: 24px;
}

#modal-edit .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px 24px;
}



.modal-inserir {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content-inserir {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.close-inserir {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-inserir:hover,
.close-inserir:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.year-select {
    display: flex;
    align-items: center;
}

.year-select label {
    margin-right: 10px;
    font-weight: bold;
}

.year-select select {
    padding: 5px;
    font-size: 14px;
}

.save-buttons {
    display: flex;
    gap: 10px;
}

.btn-save {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #0b64bf;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #094b93;
}


#button-teste {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:   10px;
    cursor: pointer;
}

.file-size {
    font-size: 12px;
}


.titulo-color-index {
    color: blue;
    font-size: 16px;
}



.div_anexos_doc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    padding: 0 24px;
    background: #0b64bf;
    border: 2px solid #2b73bb;
    border-radius: 4px;
    height: 60px;
    width: 69%;
    color: #0b64bf;
    font-size: 14.5px;
    line-height: 21px;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.div_anexos_doc:hover,
.div_anexos_doc:hover .file-size{
    background-color: orange;
    border: 2px solid rgb(255, 184, 52);
    /*** border-bottom: 1px solid white; ***/
    color: #FFF; 
    text-decoration: none !important;
    transition: all 0.3s ease;
}

.conduta_text {
    color: #ffffff;
    margin: 0;
}

.flex_img_section {
    display: flex;
    align-items: center;
}

.section_text {
    margin-left: 10px;
}

.file-size {
    background-color: #0b64bf;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 15px;
    font-size: 12px;
}

.file-size:hover {
    background-color: orange;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 15px;
    font-size: 12px;
}

.caixa {
    width: 200px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px; /* Espaço abaixo da div */
}

.caixa:last-child {
    margin-bottom: 0; /* Remove margem do último elemento */
}

.botao-personalizado {
    width: 6cm;
    height: 1cm;
    background-color: #0b64bf;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-personalizado:hover {
    background-color: orange;
}

.botao-personalizado i {
    margin-right: 10px;
}


